#level {
  position: fixed;
  inset: 0;

  animation: scene 40s var(--ease-in-4) forwards;

  >* {
    position: absolute;
    display: block;
    inline-size: 200px;
    background: black;
  }
}

@keyframes scene {
  to {
    translate: var(--game-level-end) 0;
  }
}


#webcamConnected {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 1e3px;
}